<% i = 0 %>
<% @topics.each do |topic| %>
  <div class="user-name">
    <%= link_to user_path(id: topic.user.id) do %>
      <%= image_tag topic.user.icon.thumb.url %>
    <%= topic.user.name %>
    <% end %>
  </div>

<div style="background: white;">

    <%= link_to topic, class:"link_to_topic",remote: true, data: {lat: "#{topic.lat}", lng: "#{topic.lng}"}, onClick: "changeCenter(event);" do %>

      <div>
        <%= topic.title %>
      </div>

      <div>
        <%= topic.content %>
      </div>

      <div class="topics_image">
        <%= image_tag topic.image.url if topic.image? %>
      </div>

      <div id="likes_area_<%= topic.id %>">
        <object>
        <%= render partial: 'likes/like', locals: { topic: topic, like: Like.find_by(topic_id: topic.id, user_id: current_user.id) } %>
        </object>
      </div>

      <div  class="">
        <%= fa_icon("comments-o 2x") %>
        <%= topic.comments.count if topic.comments.count > 0 %>
      </div>

      <% if current_user.id == topic.user_id %>
        <object>
          <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
        </object>
      <% end %>

    <% end %>

    </div>
    <% i += 1 %> 
  <% unless i == topics.count %>
    <hr>
  <% end %>
<% end %>
