<% @topics.each do |topic| %>
  <div>
    <div>
      <%= link_to "#{topic.user.name}", user_path(id: topic.user.id) %>
    </div>
    <div>
      <%= topic.title %>
    </div>
    <div>
      <%= topic.content %>
    </div>
    <div class="topics_image">
      <%= image_tag topic.image.url if topic.image? %>
    </div>
    <%= link_to 'Show', topic, remote: true, data: {lat: "#{topic.lat}", lng: "#{topic.lng}"}, onClick: "changeCenter(event);" %>
    <% if current_user.id == topic.user_id %>
      <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    <% end %>
  <hr>
  </div>
<% end %>
