<%= link_to topics_path, remote: true, onClick: "deleteNewMarker();" do %>
  <%= fa_icon 'chevron-left' %>
<% end %>

<%= form_with(model: topic) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_area :title, class: 'form-control', style: 'resize: none;' %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control', style: 'resize: none;' %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <%= form.hidden_field :lat %>
  <%= form.hidden_field :lng %>

  <div>
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
