<%= link_to topics_path, remote: true, onClick: "deleteNewMarker();" do %>
  <%= fa_icon 'angle-double-left 2x' %>
<% end %>

<%= form_with(model: topic) do |form| %>

  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h3><%= @topic.errors.count %>件のエラーがあります。</h3>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_area :title, class: 'form-control', style: 'resize: none;', placeholder: 'ポイント名や場所を入力' %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control', style: 'resize: none;', placeholder: '海や波の概況を入力' %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <%= form.hidden_field :lat %>
  <%= form.hidden_field :lng %>

  <div>
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
