<%= link_to :back, remote: true do %>
  <%= fa_icon 'angle-double-left 2x' %>
<% end %>

<div>
  <div>
  <%= link_to user_path(id: topic.user.id) do %>
    <%= image_tag topic.user.icon.thumb.url %>
    <%= topic.user.name %>
  <% end %>
  </div>

  <div style="background: white;">
    <div>
      <%= topic.title %>
    </div>

    <div>
      <%= topic.content %>
    </div>

    <div class="topics_image">
      <%= image_tag topic.image.url if topic.image? %>
    </div>

    <div class="user-topics-items">
      <% if current_user.id == topic.user_id %>
      <object>
      <%= link_to fa_icon("pencil 2x"), edit_topic_path(topic.id), remote: true, data: {lat: "#{topic.lat}", lng: "#{topic.lng}"}, onClick: "changeCenter(event);"%>
      </object>
      <% end %>
      
      <% if current_user.id == topic.user_id %>
        <%= link_to fa_icon("trash 2x"), topic, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      <% end %>
    </div>

  <hr>
  <% if topic.likes.count != 0 %>
    <%= link_to 'いいねしているユーザー一覧', topic_like_users_path(topic.id), remote: true %>
  <% end %>
  <hr>

</div>

  <div class="row">

    <div id="likes_area_<%= topic.id %>" class="col-xs-6">
      <%= render partial: 'likes/like', locals: { topic: topic, like: @like }  %>
    </div>

    <div>
    <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
    <hr>
    <div>

    <div id ="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
    </div>

  </div>

