<h1><%= user.name %></h1>
<%= link_to 'edit', edit_user_registration_path %>
<hr>

<% topics.each do |topic| %>
  <div>
    <div>
      <%= topic.user.name %>
    </div>

    <div>
      <%= topic.title %>
    </div>

    <div>
      <%= topic.content %>
    </div>

    <div class="topics_image">
      <%= image_tag topic.image.url if topic.image? %>
    </div>

    <hr>

  </div>
<% end %> 