<!DOCTYPE html>
<html>
  <head>
    <title>Waveshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <% if user_signed_in? %>
    <header>
      <div class="header_logo">
        <%= link_to home_path do %>
          <%= 'WaveShare' %>
        <% end %>
      </div>

      <div class="header_menu">

      <div class="header_menu_item">
        <%= link_to home_path do %>
          <%= fa_icon 'home 2x' %>
        <% end %>
      </div>

      <div class="header_menu_item">
        <%= link_to user_likes_path(current_user.id) do %>
          <%= fa_icon 'thumbs-o-up 2x' %>
        <% end %>
      </div>

      
      <div class="header_menu_item">
        <%= link_to user_path(id: current_user.id) do %>
          <%= image_tag current_user.icon.url %>
        <% end %>
      </div>

      <div class="header_menu_item">
        <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } do %>
          <%= fa_icon 'share-square 2x'%>
        <% end %>
      </div>


    </div>

    </header>
    <% end %>

    <%= yield %>

  </body>
</html>

