<!DOCTYPE html>
<html>
  <head>
    <title>WaveShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <% if user_signed_in? %>
        <%= link_to 'home', root_path %>
        <%= link_to user_path(id: current_user.id) do %>
          <%= image_tag current_user.icon.thumb.url if current_user.icon? %>
          <%= current_user.name %>
        <% end %>
        <%= link_to "log out", destroy_user_session_path, method: :delete %>
      <% end %>
    </header>

    <%= yield %>

  </body>
</html>
